$primary-font-color: black;
$secondary-font-color: rgba(201, 77, 99, 1);
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Zilla Slab', serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    max-width: 1400px;
    height: 64px;
    margin: 0 auto;
    padding-top: 20px ;
    display: flex;
    justify-content: space-between;
    font-family: $primary-font;

    &__left {
        width: fit-content;
        height: fit-content;
        margin-left: 60px;
        text-decoration: none;
        color: $primary-font-color;
        font-size: 24px;
        text-align: center;

        span {
            color: $secondary-font-color;
        }
    }

    &__right {
        width: fit-content;
        height: fit-content;
        margin-right: 60px;

        &-menu {
            width: fit-content;
            height: fit-content;
            display: flex;
            gap: 20px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: $primary-font-color;
                    font-size: 20px;
                    font-family: $secondary-font;
                }

                a:hover {
                    color: $secondary-font-color;
                }
            }
        }
    }
}